<div class="container main-content-container">
    <h1>Eat The Burger!</h1>

    <div class="row">
        <div class="col">
            <h2>Created Burgers</h2>
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li>
                            <p data-burgerid={{this.id}} class="burger-name">{{this.burger_name}}</p>
                            <button data-burgerid={{this.id}} class="btn btn-outline-dark btn-custom-color devour-btn">Devour</button>
                        </li>  
                    {{/unless}}
                {{/each}}
            </ul>
            
        </div>
        <div class="col">
            <h2>Devoured Burgers</h2>
            {{#each burgers}}
                {{#if this.devoured}}
                    <li>
                        <p data-burgerid={{this.id}} class="burger-name">{{this.burger_name}}</p>
                        <button data-burgerid={{this.id}} class="btn btn-outline-dark btn-custom-color devour-btn">Devour</button>
                    </li> 
                {{/if}}
            {{/each}}
        </div>
    </div>
    
    <div>
        <form action="/newburger" method="POST">
            <label for="burgerName">Add Burger</label>
            <input type="text" name="burgerName">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</div>